<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>EPIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="row">
            <div class="col-sm-5">
                <img src="{{ url_for('static', filename='img/logo-igh.gif') }}" width="90" height="30">
            </div>
            <div class="col-sm-5">
                <img src="{{ url_for('static', filename='img/logo-prefeitura-contagem.png') }}" width="90" height="30">
            </div>
        </div>
    </nav>

    <div class="main container">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='vendor/jquery-3.5.1/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jQuery-Mask-Plugin-master/src/jquery.mask.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>